
.outer
  if page.posts.length > 0
    ul.list-group
      each post in page.posts.sort('date', -1).toArray()
        li.list-group-item.title
          if (theme.list.date)
            div.date= date(post.date, 'YYYY'+"年"+'M'+"月"+'D'+"日")
          a(href=config.root + post.path, target=theme.post.blank ? "_blank" : "_self")= post.title

